#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.notes__title-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notes__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.node__item {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  position: relative;
}

.node__item [data-del-id] {
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  border: 1px solid red;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: red;
  padding: 15px;
}

.notes {
  display: grid;
  gap: 20px;
}

.notes__form {
  display: grid;
  text-align: left;
  gap: 20px;
  position: relative;
  max-width: 50%;
}

.notes__form textarea {
  resize: none;
  min-height: 140px;
  box-sizing: border-box;
  padding: 20px;
}

.notes__form [type=submit] {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid silver;
}